{# layout to extend #}
{% extends "layouts/base.njk" %}

{# nunjucks variable: accessible to all templates in the template chain (includes, extends, etc.) #}
{% set currentSection = "projects" %}

{% block content %}

  {% set img = "/assets/img/projects/" + coverImage %}
  <div>
    <img 
      src="{{ img }}" 
      class="fluidimg"
      alt="{{ coverImageAlt }}">
  </div>
  <h1>{{ title }}</h1>
  <p>{{ subtitle }}</p>
  {{ content|safe }}
  
{% endblock %}