---
permalink: about/index.html
---

{# layout to extend #}
{% extends "layouts/base.njk" %}

{# nunjucks variable: accessible to all templates in the template chain (includes, extends, etc.) #}
{% set currentSection = "about" %}

{% block content %}
  <h1>About Nox</h1>
  <p>Biography Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi placeat perferendis vel sint accusamus iste fugit voluptatem praesentium commodi modi delectus unde cum distinctio, cumque sapiente asperiores ad quasi ut!</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur facilis et maiores rem placeat. Accusantium nemo sint odit ut veniam tenetur accusamus corrupti mollitia neque impedit, dolor architecto, aut magni!</p>
{% endblock %}