---
pagination:
  data: collections.projects
  size: 2
  alias: projects
permalink: projects{% if pagination.pageNumber > 0 %}/page{{ pagination.pageNumber + 1 }}{% endif %}/index.html
---

{# layout to extend #}
{% extends "layouts/base.njk" %}

{# import macros #}
{% from "macros/projectcard.njk" import projectcard %}

{# nunjucks variable: accessible to all templates in the template chain (includes, extends, etc.) #}
{% set currentSection = "projects" %}

{% block content %}
  <h1>My projects</h1>
  
  {% for item in projects %}
    {% if loop.first %}<ul>{% endif %}

    <li>
      {{ projectcard({
        title: item.data.title,
        subtitle: item.data.title,
        url: item.url,
        year: item.data.year
      }) }}
    </li>

    {% if loop.last %}</ul>{% endif %}
  {% endfor %}

  
  {% if pagination.page | length > 0 %}
    {% if pagination.href.previous %}
      <p><a href="{{ pagination.href.previous }}">&larr; Previous page</a></p>
    {% endif %}
    {% if pagination.href.next %}
      <p><a href="{{ pagination.href.next }}">Next page &rarr;</a></p>
    {% endif %}
  {% endif %}

{% endblock %}