/* ==================================
=body
================================== */

body {
  margin: 0;
  padding: 0;

  color: var(--color-text-primary);
  background-color: var(--color-background-primary);
}
